# Data Cleaning with Pandas

## Scenario

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

In [27]:
import pandas as pd
pd.set_option('display.max_columns', None)

### Learning Goals:

- practice cleaning a real dataset
- practice using `py` files and the terminal in conjunction with jupyter notebooks
- run a `py` script through the terminal

In [2]:
!pwd

/Users/johnmaxbarry/Documents/012720/Chicago-ds-012720/module_1/week_1/day5_more_pandas/pandas_data_cleaning

### First, get the data!

When working on a project involving data that can fit on our computer, we store it in a `data` directory.

```bash
cd <project_directory>  # example: cd ~/flatiron_ds/pandas-3
mkdir data
cd data
```

Note that `<project_directory>` in angle brackets is a _placeholder_. You should type the path to the actual location on your computer where you're working on this project. Do not literally type `<project_directory>` and _do not type the angle brackets_. You can see an example in the _comment_ to the right of the command above.

![terminal](https://media3.giphy.com/media/yR4xZagT71AAM/giphy.gif?cid=790b76115d3620444553533759086a54&rid=giphy.gif)

Now, we'll need to download the two data files that we need. We can do this at the command line:

```bash
wget https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
wget https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip
```

*Note:* If you do not have the `wget` command yet, you can install it with `brew install wget`, or use `curl <url> -o <filename>`.

Note that `%20` in a URL translates into a space. Even though you will *never put spaces in filenames*, you may need to deal with spaces that _other_ people have used in filenames.

There are two ways to handle the spaces in these filenames when referencing them at the command line.


![internetgif](https://media2.giphy.com/media/QWkuGmMgphvmE/giphy.gif?cid=790b76115d361f42304a6850369f37ea&rid=giphy.gif)

In [3]:
!wget https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip

--2020-02-03 13:21:40--  https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip
Resolving aqua.kingcounty.gov... 146.129.240.28
Connecting to aqua.kingcounty.gov|146.129.240.28|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 126877142 (121M) [application/x-zip-compressed]
Saving to: 'Real Property Sales.zip'

Real Property Sales 100%[===================>] 121.00M   900KB/s    in 2m 5s

2020-02-03 13:23:45 (993 KB/s) - 'Real Property Sales.zip' saved [126877142/126877142]

In [4]:
!wget https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

--2020-02-03 13:23:49--  https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip
Resolving aqua.kingcounty.gov... 146.129.240.28
Connecting to aqua.kingcounty.gov|146.129.240.28|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24686735 (24M) [application/x-zip-compressed]
Saving to: 'Residential Building.zip'

Residential Buildin 100%[===================>]  23.54M  1.01MB/s    in 24s

2020-02-03 13:24:13 (1015 KB/s) - 'Residential Building.zip' saved [24686735/24686735]

#### 1. You can _escape_ the spaces by putting a backslash (`\`, remember _backslash is next to backspace_) before each one:

`unzip Real\ Property\ Sales.zip`

This is what happens if you tab-complete the filename in the terminal. Tab completion is your friend!

#### 2. You can put the entire filename in quotes:

`unzip "Real Property Sales.zip"`

Try unzipping these files with the `unzip` command. The `unzip` command takes one argument, the name of the file that you want to unzip.

In [11]:
# ! unzip 'data/Real Property Sales.zip'
! unzip 'data/Residential Building.zip'

Archive:  data/Residential Building.zip
  inflating: EXTR_ResBldg.csv

In [12]:
!pwd

/Users/johnmaxbarry/Documents/012720/Chicago-ds-012720/module_1/week_1/day5_more_pandas/pandas_data_cleaning

In [7]:
sales_df = pd.read_csv('data/EXTR_RPSale.csv')

/Users/johnmaxbarry/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Seeing pink? Warnings are useful!

Note the warning above: `DtypeWarning: Columns (1, 2) have mixed types.` Because we start with an index of zero, the columns that we're being warned about are actually the _second_ and _third_ columns, `sales_df['Major']` and `sales_df['Minor']`.

In [62]:
sales_df.head()

,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,1600768,330405.0,100.0,03/19/1998,215000,199803251689,145,039,330405,C,8722,3,ROSEHILL L L C ...,MEYERS R STEPHEN+MEYERS PEGGY S ...,2,2,3,N,N,N,N,1,3,
1,2413752,868146.0,30.0,09/11/2009,0,20091022001461,,,,,,,DORN DEBRA A ...,DORN MICHAEL A ...,3,2,15,N,N,N,N,11,3,18 31 38
2,1939480,258190.0,265.0,02/06/2003,0,20030214003390,,,,,,,MAHNEL JUDITH ...,HAHNEL GREG B ...,3,6,15,N,N,N,N,10,8,31 51
3,2999169,919715.0,200.0,07/08/2019,192000,20190712001080,,,,,,,WAGNERESTATES LLC ...,SCHAFFER CORBIN ...,3,2,3,N,N,N,N,1,3,
4,2220242,334330.0,1343.0,05/30/2006,0,20060706002163,,,,,,,TRYON CONCEPTS L L C ...,LARKERIDGE DEVELOPMENT INC ...,1,6,3,N,N,N,N,18,7,11 31

In [63]:
bldg_df.head()

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,42450,95,1,1,3322 NE 8TH ST 98056,3322,,NE,8TH,ST,,98056,1.0,6,0,1060,0,0,0,0,0,1060,0,0,0,0,340,N,0,0,0,5,2,0,N,3,0,0,1,0,0,0,0,1940,0,0,0,0,3,0
1,42500,210,1,1,3518 NE 9TH ST 98056,3518,,NE,9TH,ST,,98056,1.0,6,0,1080,0,0,0,0,0,1080,0,0,0,0,0,N,0,0,0,4,3,0,N,3,0,0,1,0,0,0,0,1954,0,0,0,0,5,0
2,42504,9051,1,1,2703 NE 68TH ST 98115,2703,,NE,68TH,ST,,98115,1.5,7,0,1040,480,0,0,0,0,1920,830,400,6,0,0,,50,0,0,5,1,0,,3,0,1,0,1,0,0,0,1918,0,0,0,0,4,0
3,42504,9058,1,1,6524 26TH AVE NE 98115,6524,,,26TH,AVE,NE,98115,1.0,7,0,1270,0,0,0,0,0,2270,1270,1000,6,240,0,,0,0,0,6,2,0,,4,0,1,1,0,1,0,1,1958,0,0,0,0,4,0
4,42504,9074,1,1,6554 29TH AVE NE 98115,6554,,,29TH,AVE,NE,98115,1.0,8,0,1570,0,0,0,0,0,3140,1570,1570,7,0,460,N,0,0,0,6,1,100,N,3,0,1,1,0,1,0,1,1952,0,0,0,0,3,0

### Data overload?

That's a lot of columns. We're only interested in identifying the date, sale price, and square footage of each specific property. What can we do?

In [68]:
sales_df = sales_df.loc[:,['Date', 'SalePrice', 'sq_feet']]

/Users/johnmaxbarry/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

Series([], Name: Date, dtype: int64)

In [19]:
bldg_df = pd.read_csv('data/EXTR_ResBldg.csv')

### Another warning! Which column has index 11?

In [24]:
bldg_df['ZipCode']

0         98056
1         98056
2         98115
3         98115
4         98115
          ...
514559    98042
514560    98177
514561    98177
514562    98053
514563    98045
Name: ZipCode, Length: 514564, dtype: object

`ZipCode` seems like a potentially useful column. We'll need it to determine which house sales took place in Seattle.

### So many features!

As data scientists, we should be _very_ cautious about discarding potentially useful data. But, today, we're interested in _only_ the total square footage of each property. What can we do?

In [28]:
bldg_df.head()

,Major,Minor,BldgNbr,NbrLivingUnits,Address,BuildingNumber,Fraction,DirectionPrefix,StreetName,StreetType,DirectionSuffix,ZipCode,Stories,BldgGrade,BldgGradeVar,SqFt1stFloor,SqFtHalfFloor,SqFt2ndFloor,SqFtUpperFloor,SqFtUnfinFull,SqFtUnfinHalf,SqFtTotLiving,SqFtTotBasement,SqFtFinBasement,FinBasementGrade,SqFtGarageBasement,SqFtGarageAttached,DaylightBasement,SqFtOpenPorch,SqFtEnclosedPorch,SqFtDeck,HeatSystem,HeatSource,BrickStone,ViewUtilization,Bedrooms,BathHalfCount,Bath3qtrCount,BathFullCount,FpSingleStory,FpMultiStory,FpFreestanding,FpAdditional,YrBuilt,YrRenovated,PcntComplete,Obsolescence,PcntNetCondition,Condition,AddnlCost
0,42450,95,1,1,3322 NE 8TH ST 98056,3322,,NE,8TH,ST,,98056,1.0,6,0,1060,0,0,0,0,0,1060,0,0,0,0,340,N,0,0,0,5,2,0,N,3,0,0,1,0,0,0,0,1940,0,0,0,0,3,0
1,42500,210,1,1,3518 NE 9TH ST 98056,3518,,NE,9TH,ST,,98056,1.0,6,0,1080,0,0,0,0,0,1080,0,0,0,0,0,N,0,0,0,4,3,0,N,3,0,0,1,0,0,0,0,1954,0,0,0,0,5,0
2,42504,9051,1,1,2703 NE 68TH ST 98115,2703,,NE,68TH,ST,,98115,1.5,7,0,1040,480,0,0,0,0,1920,830,400,6,0,0,,50,0,0,5,1,0,,3,0,1,0,1,0,0,0,1918,0,0,0,0,4,0
3,42504,9058,1,1,6524 26TH AVE NE 98115,6524,,,26TH,AVE,NE,98115,1.0,7,0,1270,0,0,0,0,0,2270,1270,1000,6,240,0,,0,0,0,6,2,0,,4,0,1,1,0,1,0,1,1958,0,0,0,0,4,0
4,42504,9074,1,1,6554 29TH AVE NE 98115,6554,,,29TH,AVE,NE,98115,1.0,8,0,1570,0,0,0,0,0,3140,1570,1570,7,0,460,N,0,0,0,6,1,100,N,3,0,1,1,0,1,0,1,1952,0,0,0,0,3,0

In [53]:
sq_feet = []
for feature in bldg_df.columns:
    if 'Sq' in feature:
        sq_feet.append(feature)
sq_feet.append('Major')

        
df_sq = bldg_df[sq_feet]
df = pd.DataFrame(df_sq.sum(axis=1))
df['Major_b'] = bldg_df['Major']
df['Minor_b'] = bldg_df['Minor']
df.head()

       0  Major_b  Minor_b
0  44910    42450       95
1  44660    42500      210
2  47224    42504     9051
3  48554    42504     9058
4  50814    42504     9074

In [54]:
df.shape

(514564, 3)

In [55]:
sales_df.shape

(2066905, 24)

,0,Major_b,Minor_b,ExciseTaxNbr,Major,Minor,DocumentDate,SalePrice,RecordingNbr,Volume,Page,PlatNbr,PlatType,PlatLot,PlatBlock,SellerName,BuyerName,PropertyType,PrincipalUse,SaleInstrument,AFForestLand,AFCurrentUseLand,AFNonProfitUse,AFHistoricProperty,SaleReason,PropertyClass,SaleWarning
0,44910,42450,95,1600768,330405,100,03/19/1998,215000,199803251689,145,039,330405,C,8722,3,ROSEHILL L L C ...,MEYERS R STEPHEN+MEYERS PEGGY S ...,2,2,3,N,N,N,N,1,3,
1,44660,42500,210,2413752,868146,30,09/11/2009,0,20091022001461,,,,,,,DORN DEBRA A ...,DORN MICHAEL A ...,3,2,15,N,N,N,N,11,3,18 31 38
2,47224,42504,9051,1939480,258190,265,02/06/2003,0,20030214003390,,,,,,,MAHNEL JUDITH ...,HAHNEL GREG B ...,3,6,15,N,N,N,N,10,8,31 51
3,48554,42504,9058,2999169,919715,200,07/08/2019,192000,20190712001080,,,,,,,WAGNERESTATES LLC ...,SCHAFFER CORBIN ...,3,2,3,N,N,N,N,1,3,
4,50814,42504,9074,2220242,334330,1343,05/30/2006,0,20060706002163,,,,,,,TRYON CONCEPTS L L C ...,LARKERIDGE DEVELOPMENT INC ...,1,6,3,N,N,N,N,18,7,11 31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514559,958080,950720,590,2419925,285610,925,11/30/2009,0,20091202000340,,,,,,,MOUNTAIN SHADOW CONSTRUCTION INC ...,MOUNTAIN PACIFIC BANK ...,3,6,27,N,N,N,N,4,8,31
514560,955250,950810,35,1411920,351000,20,01/05/1995,177000,199501061216,072,021,351000,P,2,,POWERS AARON B+RUTH A ...,HODSON DONALD L+ESTHER E ...,3,6,2,N,N,N,N,1,8,
514561,954280,950850,15,2834065,223130,620,11/08/2016,195000,20161115000964,,,,,,,MELCHIORRE ARMANDO ...,SERWOLD MADISON ...,14,2,3,,,,,1,3,
514562,957235,950885,170,1608199,666918,150,04/21/1998,152600,199804282180,109,016,666918,C,E-101,,ESTABROOK HAZEL L ...,COCHRAN CHARLES L ...,3,2,3,N,N,N,N,1,3,
514563,956240,951030,80,1358636,242302,9122,02/08/1994,0,199402161342,000,000,000000,,,,GIBSON STEPHEN GALE ...,TWOHIG KATHLEEN JERI ...,3,0,15,N,N,N,N,9,8,32

### Error!

Why are we seeing an error when we try to join the dataframes?

<table>
    <tr>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2013160 entries, 0 to 2013159
Data columns (total 4 columns):
Major           object
Minor           object
DocumentDate    object
SalePrice       int64
dtypes: int64(1), object(3)
memory usage: 61.4+ MB</pre></td>
        <td style="text-align:left"><pre>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511359 entries, 0 to 511358
Data columns (total 4 columns):
Major            511359 non-null int64
Minor            511359 non-null int64
SqFtTotLiving    511359 non-null int64
ZipCode          468345 non-null object
dtypes: int64(3), object(1)
memory usage: 15.6+ MB
</pre></td>
    </tr>
</table>

Review the error message in light of the above:

* `ValueError: You are trying to merge on object and int64 columns.`

### Error!

Note the useful error message above:

`ValueError: Unable to parse string "      " at position 936643`

In this case, we want to treat non-numeric values as missing values. Let's see if there's a way to change how the `pd.to_numeric` function handles errors.

In [ ]:
# The single question mark means "show me the docstring"
pd.to_numeric?

Here's the part that we're looking for:
```
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaN
    - If 'ignore', then invalid parsing will return the input
```

Let's try setting the `errors` parameter to `'coerce'`.

In [57]:
sales_df['Major'] = pd.to_numeric(sales_df['Major'], errors='coerce')

Did it work?

In [58]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2066905 entries, 0 to 2066904
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 float64
Minor                 object
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: float64(1), int64(7), object(16)
memory usage: 378.5+ MB

It worked! Let's do the same thing with the `Minor` parcel number.

In [59]:
sales_df['Minor'] = pd.to_numeric(sales_df['Minor'], errors='coerce')

In [60]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2066905 entries, 0 to 2066904
Data columns (total 24 columns):
ExciseTaxNbr          int64
Major                 float64
Minor                 float64
DocumentDate          object
SalePrice             int64
RecordingNbr          object
Volume                object
Page                  object
PlatNbr               object
PlatType              object
PlatLot               object
PlatBlock             object
SellerName            object
BuyerName             object
PropertyType          int64
PrincipalUse          int64
SaleInstrument        int64
AFForestLand          object
AFCurrentUseLand      object
AFNonProfitUse        object
AFHistoricProperty    object
SaleReason            int64
PropertyClass         int64
SaleWarning           object
dtypes: float64(2), int64(7), object(15)
memory usage: 378.5+ MB

Now, let's try our join again.

In [61]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [ ]:
sales_data.info()

We can see right away that we're missing zip codes for many of the sales transactions. (1321536 non-null entries for ZipCode is fewer than the 1436772 entries in the dataframe.)

In [ ]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

Because we are interested in finding houses in Seattle zip codes, we will need to drop the rows with missing zip codes.

In [ ]:


# sales_data.head()

In [ ]:
# 1334823 homes

# Your turn: Data Cleaning with Pandas
![turtletype](https://media3.giphy.com/media/cFdHXXm5GhJsc/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)

# 311 Service Requests received by the City of Chicago
https://data.cityofchicago.org/Service-Requests/311-Service-Requests/v6vf-nfxy



###  Read and Investigate data
Use multiple notebook cells to accomplish this! Press `[esc]` then `B` to create a new cell below the current cell. Press `[return]` to start typing in the new cell.

In [71]:
df = pd.read_csv('311_Service_Requests.csv')

FileNotFoundError: [Errno 2] File b'311_Service_Requests.csv' does not exist: b'311_Service_Requests.csv'

In [ ]:
df.head()

##### Create new df with the following columns:
    'SR_NUMBER', 'SR_TYPE', 'SR_SHORT_CODE', 'OWNER_DEPARTMENT', 'STATUS',
       'CREATED_DATE', 'LAST_MODIFIED_DATE', 'LOCATION','CITY', 'LATITUDE']]

### Investigate and handle missing values

What's the right thing to do with missing values?

### Find out top 3 service types

## Pair Programming:
    
For these exercises, we will be practicing pair programming. 
While we work through these exercises, choose who will code and who will supervise.
I.E., one person types, and the other suggests the appropriate direction to head in.

### In-class Exercise: 
Think about 2 questions each person and use city_df to answer your questions

## After class : 
### Turning code into a script

#### make a new .py file
- open a new `.py` file _or_ open a new jupyter notbook and export as a `.py` file so we can start to edit the `.py` file directly
- save the file as `mean_ppsf_seattle.py`
- look at all your code between `sales_df = pd.read_csv('data/Real Property Sales.zip')` and question `number 6` above

#### review & organize your code
- _organize_ your code in the `mean_ppsf_seattle.py` to start with `sales_df = pd.read_csv('data/Real Property Sales.zip')` and end with printing out the mean price per square foot for a house sold in seattle in 2019
- the code should be able to run without throwing any errors
- remember to include `import pandas as pd` and any other necessary statements at the start of your script

#### test your script
- go to the terminal
- make sure you are in the same directory path as your jupyter notebook and the `.py` file
- in the terminal type and then run `python mean_ppsf_seattle.py`
- confirm the script returns in terminal what you wanted it to return


![anykey](https://media2.giphy.com/media/26BGIqWh2R1fi6JDa/giphy.gif?cid=790b76115d3627d8354c7179366b0672&rid=giphy.gif)